* {
	font-family: 'Muli', sans-serif;
}

table, th, td {
	color: white;
	border: 1px solid white;
	border-collapse: collapse;
}

h1 {
	text-align: center;
	color: white;
	margin-top: 5%;
	font-size: 50px;
}

.smaller-width-for-square {
	width: 200px;
}

#meteor-button {
	color: black;
	cursor: pointer;
	border-radius: 5px;
	height: 30px;
	font-size: 15px;
}

#meteor-shower-countdown {
	font-size: 50px;
	text-align: center;
	color: white;
}

#meteor-counter-label {
	text-align: center;
	font-size: 40px;
	color: white;
}

#intro-paragraph {
	margin-left: 10%;
	margin-right: 10%;
	color: white;
}

#paragraph {
	margin-left: 10%;
	margin-right: 10%;
	color: white;
}

.wrapper {
    text-align: center;
    color: white;
}

p {
	color: white;
}


h2, h3 {
	color: white;
	text-align: center;
}

#meteor-table, #eclipse-table {
	text-align: center;
}

.maps {
	height: 200px;
	width: 350px;
}

html {
	background-image: url(https://media.giphy.com/media/TZf4ZyXb0lXXi/giphy.gif);
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  /*height: 100%;*/
  background-position: center;
  background-repeat: no-repeat;
}